
#topbanner {
  background-color: #e0ecff;
  padding-top: 1em;
  padding-bottom: 1em;
  }


.searchword:hover  {
  background-color: gold;
}

.optionlabel {
  margin-bottom: 0em;
  font-weight: bold;
}

.card-title {
  font-weight: 600;
}

#teststeps {
  margin-bottom: 2em;
}

#teststats {
  margin-top: 2em;
  font-size: .9em
}
#footer {
  margin-top: 4em;
}

#doc-display {
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1.3;
}

.docabstract {
  margin-top: 1em;
}

.listarticle {
  line-height: 1;
  font-size: .9em;
  margin-bottom: .5em;
}

.listarticle:hover {
  color: blue;
  border-color: blue;
  box-shadow: 5px 5px 5px lightgray;
}

#doc-display .card-subtitle {
  font-size: 1.1em  
}

#currentstatus {
  font-weight: 600;
}

#searchused {
  color: gray;
  font-size: .9em;
  margin: 1em;
}